<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Programming Assignment Collinear Points/src/Point.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Point"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="D:\Documents\Dropbox\Coursera\Algorithms\Part_I\Week3\workspace\Programming Assignment Collinear Points\collinear-testing\collinear\input8.txt"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Programming Assignment Collinear Points"/>
</launchConfiguration>
